/* body */

body {
    overflow-x:hidden;
}

/*************************************************************/

/* Header */

#header img {
    width: 80px;
}

.text-platzi {
    color: #97c93e !important;
}

/*************************************************************/

/* Section - carousel */

#main .carousel-inner img {
    max-height: 70vh; /* 70% del navegador */
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
    box-shadow: -2px 21px 18px -8px rgba(0,0,0,0.75)
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0, 0.8);
    color: #244254;
    font-family: 'Anton', sans-serif;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}   

.btn-platzi {
    background-color: #97c93e;
    color: white !important;
}

.btn-platzi:hover {
    background-color: #82ad36;
}

.card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*************************************************************/

/* lugar y fecha */

#place-time {
    background-color:  #244254;
    color: white;
    box-shadow: -2px 21px 18px -8px rgba(0,0,0,0.75);
    box-shadow: 2px -7px 48px 0px rgba(0,0,0,0.75);;
}

#place-time img {
    max-width: 100%;
}

/*************************************************************/

/* Footer */

#footer {
    background-color: #244254;
}

#footer a {
    color: white;
}

#footer a:hover {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: 0.2s;
}

/*************************************************************/